.all-movie {
  position: relative;
  width: 43.7%;
  max-width: 280px;
}
.recommend-title {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.3125px;
  color: #ffffff;
  font-weight: 300;
}
.all-movie {
  cursor: pointer;
}
.recom {
  padding: 24px 16px 38px;
  align-content: center;
}
.movie-icon {
  width: 100%;
  border-radius: 8px;
}
.all-movie-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 4%;
  margin-top: 24px;
}
.describ {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-top: 8px;
}
.movie-list-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding-bottom: 16px;
}
.class,
.all-movie {
  font-weight: 300;
  font-size: 11px;
  line-height: 14px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;
}
@media (min-width: 768px) {
  .recommend-title {
    font-size: 32px;
  }
  .recom {
    padding-left: 25px;
  }
}
@media (min-width: 1440px) {
  .recom {
    padding-left: 25px;
  }
}
