header {
  background-color: #161d2f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px;
}
.avatar {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
nav {
  display: flex;
  gap: 24px;
}
.navlist {
  cursor: pointer;
}
@media (min-width: 1440px) {
  header {
    flex-direction: column;
    position: relative;
    left: 32px;
    top: 32px;
    border-radius: 20px;
  }
}
@media (min-width: 768px) {
  .avatar {
    width: 40px;
    height: 40px;
  }
}
