.login {
  background-color: #10141e;
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/logo.svg);
  background-repeat: no-repeat;
  background-size: 32px 25px;
  background-position: 50% 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-header {
  align-self: flex-start;
}
.login-email {
  margin: 40px 0 24px;
}
.login-inputs {
  width: 327px;
  max-width: 400px;
  background-color: #161d2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 24px 32px;
  border-radius: 10px;
}
.login-email,
.password-login,
.repeat {
  width: 100%;
  height: 36px;
  background-color: #161d2f;
  border-bottom: 1px solid #5a698f;
  border-left: none;
  border-top: none;
  border-right: none;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-left: 16px;
  padding-bottom: 10px;
}
.repeat {
  margin-top: 24px;
}
.login-btn {
  width: 279px;
  font-family: Outfit;
  height: 48px;
  background: #fc4747;
  border-radius: 6px;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-top: 40px;
}
.suggest-signup {
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 24px;
}
.span-signup {
  color: #fc4747;
}
